<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
    <div class="col-md-8">
    <% if @user.vuls.any? %>
      <h3>Vuls (<%= @user.vuls.count %>)</h3>
      <ol class="vuls">
      <% @vuls.each do |vul| %>
        <li id="vul-<%= vul.id %>">
          <span class="content"><%= vul.name %></span>
          <span class="timestamp">
            Posted <%= time_ago_in_words(vul.created_at) %> ago.
            <% if current_user?(vul.user) %>
              <%= link_to "delete", vul, method: :delete,
                                              data: { confirm: "You sure?" } %>
            <% end %>
          </span>
        </li>
      <% end %>
      </ol>
      <%= will_paginate @vuls %>
    <% end %>
  </div>
</div>